argon2-cffi
argon2-cffi-bindings
asgiref
certifi
cffi
distlib
dj-database-url
dj-static
Django==4.0.9
django-environ
filelock
gunicorn
numpy
platformdirs
psycopg2
psycopg2-binary
pycparser
python-dotenv
setuptools
sqlparse
static3
virtualenv
virtualenv-clone
wheel
whitenoise