{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-white"></h1>
                <p class="my-3 text-white">このサイトでは、長野の雄大な山々を紹介しています。<br>また、掲示板では山への情報を共有できます。</p>
                <a href="{% url 'website:user_login' %}" class="btn btn-primary me-2">ログイン</a>
                <a href="{% url 'website:theme_list'%}" class="btn btn-outline-light">掲示板へ</a>
            </div>
        </div>
    </div>
</div>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1>Services</h1>
                <p>このサイトのサービスを紹介します</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-12">
                <div class="service card-effect ">
                    <div class="iconbox">
                        <i class='bx bxs-photo-album'></i>
                    </div>
                    <h5 class="mt-4 mb-2">Pictures</h5>
                    <p>それぞれの山の特徴と素晴らしい写真によって長野の山々の魅力を再確認することができます。</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="service card-effect ">
                    <div class="iconbox">
                        <i class='bx bxs-log-in' ></i>
                    </div>
                    <h5 class="mt-4 mb-2">Services</h5>
                    <p>ユーザ登録することで、スレッドの立ち上げ、削除、スレッドへのコメント、各山へのコメントが可能になります。</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="service card-effect ">
                    <div class="iconbox">
                        <i class='bx bxs-message-square-detail'></i>
                    </div>
                    <h5 class="mt-4 mb-2">Comment</h5>
                    <p>コメント機能を活用して、ぜひいろいろな方と感想や思いを共有してみてください。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-lg-6 col-img"></div>
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-10 pt-4 offset-md-1">
                    <h1>My thoughts</h1>
                    <p>日本は世界の中でも有数の名山があることで知られています。その中でも、長野県には、八ヶ岳や日本アルプスという日本有数の山々があります。これら長野の山々についての魅力を自分でも発信したいと思いこのサイトを作りました。</p>
            </div>
        </div>
    </div>
</section>



{% endblock  %}